<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<div id="container" class="container">
		<div id="header" class="navbar">
			<div class="navbar-inner">
				<div id="navbar" class="masthead container row">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<a id="logo" class="brand" href="/home/index">
					<%= image_tag "TEDxFDU_logo.png" , :alt => "TEDxFDU"%>
				</a>

				<div class="nav-collapse collapse">
				<ul class="nav nav-pills pull-right">
					<li class="active">
						<a href="http://tedxfdu.com">Home</a>
					</li>
				<!--	<li>
						<a href="#">Media</a>
					</li>  -->
					<li>
						<a href="https://tedxfdu.wufoo.eu/forms/2012-tedxfdusalon-registration-/">Attend</a>
					</li>
				<!--	<li>
						<a href="#">Highlights</a>
					</li>-->
				<!--	<li>
						<a href="/home/team">Team</a>
					</li>  --> 
					<li>
						<a href="/home/about">About</a>
					</li>
				</ul>
				</div>
				</div>
			</div>	
			<hr />
		</div>
		<div id="myCarousel" class="carousel slide">
    		<!-- Carousel items -->
    		<div class="carousel-inner">
    			<div class="active item">
    				<%= image_tag "slides/slide1.jpg"%>
    				<div class="container">
						<div class="carousel-caption">
							<p class="lead">
								TEDxFDUSalon, June 24, 2012
							</p>
						</div>
					</div>
    			</div>
    			<div class="item">
    				<%= image_tag "slides/slide2.jpg"%>
    				<div class="container">
						<div class="carousel-caption">
							<p class="lead">
								TEDxFDUSalon, June 24, 2012
							</p>
						</div>
					</div>
    			</div>
    			<div class="item">
    				<%= image_tag "slides/slide3.jpg"%>
    				<div class="container">
						<div class="carousel-caption">
							<p class="lead">
								TEDxFDUSalon, June 24, 2012
							</p>
						</div>
					</div>
    			</div>
    			<div class="item">
    				<%= image_tag "slides/slide4.jpg"%>
    				<div class="container">
						<div class="carousel-caption">
							<p class="lead">
								TEDxFDUSalon, June 24, 2012
							</p>
						</div>
					</div>
    			</div>
    			<div class="item">
    				<%= image_tag "slides/slide5.jpg"%>
    				<div class="container">
						<div class="carousel-caption">
							<p class="lead">
								TEDxFDUChange2012, April 7, 2012
							</p>
						</div>
					</div>
    			</div>
    			<div class="item">
    				<%= image_tag "slides/slide6.jpg"%>
    				<div class="container">
						<div class="carousel-caption">
							<p class="lead">
								TEDxFDUChange2012, April 7, 2012
							</p>
						</div>
					</div>
    			</div>
    		</div>

    		<!-- Carousel nav -->
    		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    	</div>
    	<hr />
		<div class="row-fluid">
			<div class="span6">
				<h2>About TEDxFDU</h2>
				<p class="lead">TEDxFDU is an independently organized TEDx event at Fudan University which connects most creative thinkers and doers. We hope to bring greatest ideas, humanity and science to Fudan University and local communities in Shanghai.</p>
			</div>
			<div class="span6">
				<h2>What is coming?</h2>
				<p class="lead">
					TEDxFDUSalon is coming soon on Nov 25, 2012. 
					<br />
					<a href="https://tedxfdu.wufoo.eu/forms/2012-tedxfdusalon-registration-/">Join Us Now!!</a>
				</p>
			</div>
			
		</div>
		<hr />
		